.profile-pic{
	max-width: 100%;
	}

.social-icon{
	color: hotpink;
	margin-left: 5px;
}

.social-icon:hover{
	color: purple;
}

.social-icon2{
	color: black;
	margin-left: 5px;
}
.social-icon2:hover{
	color:grey;
}

.social-icon3{
	margin-right:5px;
}

.mycustomprogressbar{
	background-color: brown;
}
.btn-primary{
	margin-top: 10%;
	background-color: blue;
}
.card{
	margin-top: 10px;
	margin-bottom: 10px;
}
.card-title{
	font-family: 'Ranga', cursive;
}
.home-page{
	background: url('../img/background.jpg');
	background-size: cover;
}
.text1{
	text-align: center;
	font-size: 550%;
	font-family: 'Dancing Script', cursive;
	color:black;
	margin: auto;
}
.navbar{
	color: white;
	font-family: 'Patua One', cursive;
}